  
   table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 50%;
     display: contents;
    justify-content: space-between;
    position: relative;
   }
   
   th {
     border: 1px solid #18191A;
     background-color : #a0d2eb;
     text-align: center;
     padding: 10px;
   }

   td {
    border: 1px solid #1a1a18;
    background-color : #FFFEF7;
    text-align: left;
    padding: 10px;
  }

   #base , #quote {
    text-transform: uppercase;
   }
    

   body {
    margin: 150px;
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  background-color: #F0FFF0;
  } 

  
  
  button {

    margin: 15px auto 0;
    padding: 3px 20px;

   
    font-size: 14px;
    text-align: center;
    border : 1px solid #2C3539;
    text-transform: uppercase;
    /* text-decoration: none; */
    /* outline: none; */
}

button:hover {
    transition: 0.5s;
    background-color: #8458B3;
    color: #e5eaf5;
    text-decoration: underline;
    letter-spacing: 0.5px;
}


