
 
  h2 {
     font-size: medium;
  }
  h1 {
    color: #191970
  }
  

 body{
       font-family: arial, sans-serif;
  
        flex: 1;
        display: grid;
      
        flex-direction: column;
        /* align-items: stretch; */
        justify-content: center;
        
        height: 100vh;
        background-color: #F6F5F1;
  
  }
 
  table {
    font-family: arial, sans-serif;
     border-collapse: collapse;
    table-layout: fixed;
    width: 60%;

  }


  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1rem 2rem;
      text-align: left;
      word-wrap:initial;
      overflow-wrap: break-word;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }


  button {

    margin: 15px auto 0;
    padding: 3px 20px;

   
    font-size: 14px;
    text-align: center;
    border : 1px solid #2C3539;
    text-transform: uppercase;
    /* text-decoration: none; */
    /* outline: none; */
}

button:hover {
    transition: 0.5s;
    background-color: #8458B3;
    color: #e5eaf5;
    text-decoration: underline;
    letter-spacing: 0.5px;
}