.splitscreen {
    display:flex;
}
.splitscreen .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: aqua;
}
.splitscreen .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:  burlywood;
    
}

.splitscreen .Center {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F6F5F1;
}





/* table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    display: contents;
   justify-content: space-between;
   position: center;
  } */
  
  th {
    border: 1px solid #18191A;
    background-color : #a0d2eb;
    text-align: center;
    padding: 10px;
  }

  td {
    font-family: arial, sans-serif;
    justify-content: space-between;
    position: center;
    border: 1px solid #1a1a18;
   background-color : #FFFEF7;
   text-align: center;
   padding: 10px;
 }

  #base , #quote {
   text-transform: uppercase;
  }

  button {

    margin: 15px auto 0;
    padding: 3px 20px;

   
    font-size: 14px;
    text-align: center;
    border : 1px solid #2C3539;
    text-transform: uppercase;
    /* text-decoration: none; */
    /* outline: none; */
}

button:hover {
    transition: 0.5s;
    background-color: #8458B3;
    color: #e5eaf5;
    text-decoration: underline;
    letter-spacing: 0.5px;
}

body{
    background-color: blanchedalmond;
}


H1 {
    position: fixed;
    top: 10%;
    left: 48%;
    margin-top: -50px;
    margin-left: -100px;
  }